.Rproj.user
.Rhistory
.RData
.RData_conflict-20161209-203614
.Rhistory_conflict-20161211-191237
Thumbs.db
exp16_peptides_phos.csv
exp_16_peptides_FDRonly.csv
exp16_peptides_phos.csv
Phosphoproteomics.Rproj
"QI QC Metrics Report.pdf"
EXP16 - starvation
CV, score and NA filtering
QI QC Metrics Report.pdf
CV.pdf
exp16_starvation_mascot.csv
exp16_starvation_peptides_FDRonly.csv
exp16_sugar_mascot.csv
exp16_sugar_peptides_FDRonly.csv
"exp19-3 for MDscore testing(no subset proteins).csv"
Mascot_QC_outputcomparison.html
Mascot_Query_Problems.html
