.Rproj.user
.Rhistory
.RData
.RData_conflict-20161209-203614
.Rhistory_conflict-20161211-191237
Thumbs.db
"krzysztof's mess.R"
Phosphoproteomics.Rproj
krzysztof's mess.R
MascotQueryProblems.html
Mascot_QC_outputcomparison.html
PQI_ions-peptides_I-L_bug.html
Playground.Rmd
Playground.docx
Playground.html
