EXP19_3_PSBD_mascot_peptides_and_query.csv
F011993.xml
exp16_mascot_pep&query.csv
F011845.csv
F011845_BOLDRED.csv
F011845_boldred_strict.csv
F011845_ions10.csv
exp16_starvation_mascot.csv
exp16_starvation_peptides_FDRonly.csv
exp16_sugar_peptides_FDRonly.csv
exp16_peptides_FDRonly_sugar readdition.csv
F011845_19-3_strictexportfilter.csv
F011845_br.csv
F011845_br_ions10_ndp_nspf.csv
F011845_strict_ionscutoff5.csv
19-3_mascot_pep_query_massfix.csv
